!!! 5
%html
  %head
    %title Photeasy
    = csrf_meta_tags
    = javascript_include_tag '//use.typekit.net/ydd6wgd.js'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Varela+Round'
    = stylesheet_link_tag 'main'
    %meta{ name: 'HandheldFriendly', content: 'True' }
    %meta{ name: 'MobileOptimized', content: '320' }
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    %header#header
    #wrap
      %section#main
        = yield
    %footer#footer
    #overlay
    #pop-over

    - if current_user.present?
      :javascript
        window.current_user = #{current_user.to_json}

    = javascript_include_tag 'vendor/require', 'data-main' => '/assets/main.js'
