!!! 5
%html
  %head
    %title Photeasy
    = stylesheet_link_tag 'styles'
    = javascript_include_tag 'vendor/requirejs/require', 'data-main' => '/assets/app.js'
    = csrf_meta_tags
  %body
    #wrap
      %header#header
        %nav#navigation
        %secion#alert
      %section#main
        = yield
      %footer#footer
      #modal

    = javascript_include_tag "//js.pusher.com/#{ENV['PUSHER_VERSION']}/pusher.min.js"
    - if Rails.env.development?
      :javascript
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
          if (window.console && window.console.log) window.console.log(message);
        };
    :javascript
      var pusher = new Pusher("#{Pusher.key}");
      // var channel = pusher.subscribe('test_channel');
      // channel.bind('greet', function(data) {
      //   alert(data.greeting);
      // });