!!! 5
%html
  %head
    %title Photeasy
    = csrf_meta_tags
    = javascript_include_tag '//use.typekit.net/ydd6wgd.js'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Varela+Round'
    = stylesheet_link_tag 'main'
    = javascript_include_tag 'vendor/requirejs/require', 'data-main' => '/assets/main.js'
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #wrap
      %header#header
      %section#main
        = yield
      %footer#footer
      #overlay
      #pop-over

    = javascript_include_tag "//js.pusher.com/#{ENV['PUSHER_VERSION']}/pusher.min.js"
    - if Rails.env.development?
      :javascript
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
          if (window.console && window.console.log) window.console.log(message);
        };
    :javascript
      var pusher = new Pusher("#{Pusher.key}");
      // var channel = pusher.subscribe('test_channel');
      // channel.bind('greet', function(data) {
      //   alert(data.greeting);
      // });
    - if current_user.present?
      :javascript
        window.current_user = #{current_user.to_json}
