!!! 5
%html
  %head
    %title Photeasy
    = csrf_meta_tags
    = stylesheet_link_tag 'marketing'
    = javascript_include_tag '//use.typekit.net/ydd6wgd.js'
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #wrap
      %header#header
        #logo
          %abbr.icon-logo-mark
      %section#main
        = yield
      %footer#footer
    = javascript_include_tag :marketing
